<div class="card book-card" [class.flipped]="isFlipped" (click)="onBookClick()">
    <div class="card-front">
        <div class="card-image">
            <img src="assets/images/got.png" class="img-fluid" [alt]="book.title">
        </div>
        <div class="card-body">
            <h6 class="card-title">{{ book.title }}</h6>
            <p class="card-text">Author: {{ getAuthors() }}</p>
        </div>
    </div>
    <div class="card-back">
        <div class="card-body">
            <div class="card-image-small">
                <img src="assets/images/got.png" class="img-fluid" [alt]="book.title">
            </div>
            <p class="card-text">Average Rating: {{ getAverageRating() | number:'1.1-1' }} ⭐</p>
            <div class="btn-group">
                <button (click)="showInfo()" class="btn btn-info">
                    Info
                </button>
                <button class="btn btn-sm" 
                        *ngIf="userRole === 'Librarian' || userRole === 'Admin'"
                        [ngClass]="book.is_suspended ? 'btn-success' : 'btn-warning'"
                        (click)="toggleBookSuspension(book)">
                    {{ book.is_suspended ? 'Reactivate' : 'Suspend' }}
                </button>
            </div>
            <div class="btn-group">
                <button class="btn btn-sm" 
                        *ngIf="userRole === 'User' || userRole === 'Guest'" 
                        [ngClass]="book.is_suspended ? 'btn-secondary' : 'btn-primary'"
                        [disabled]="book.is_suspended"
                        (click)="onBorrowClick($event)">
                    Borrow
                </button>
                <button class="btn btn-primary btn-sm" *ngIf="userRole === 'Librarian' || userRole === 'Admin'" (click)="editBook()"><i class="fas fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" *ngIf="userRole === 'Librarian' || userRole === 'Admin'" (click)="deleteBook()"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
