<div class="container mt-5">
    <!-- Title -->
    <h2 class="mb-4">User List</h2>

    <!-- Filters Section -->
    <div class="filter-row mb-4">
        <div class="row align-items-center">
            <div class="col-md-4">
                <select class="form-select" [(ngModel)]="selectedRole" (change)="filterUsers()">
                    <option value="">All Roles</option>
                    <option *ngFor="let role of roles" [value]="role">
                        {{role}}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Search by name..."
                    [(ngModel)]="searchTerm"
                    (input)="filterUsers()">
            </div>
            <div class="col-md-4 text-end">
                <button class="btn btn-primary" (click)="open(content)">Add User</button>
            </div>
        </div>
    </div>

    <!-- User List -->
    <div class="row" id="userList">
        <div class="col-12 mb-3" *ngFor="let user of filteredUsers$ | async">
            <app-user [user]="user"></app-user>
            <button class="btn btn-secondary" (click)="open(content, user)">Edit</button>
            <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
            <button class="btn" 
                    [ngClass]="user.is_suspended ? 'btn-success' : 'btn-warning'"
                    (click)="toggleUserSuspension(user)">
                {{ user.is_suspended ? 'Reactivate' : 'Suspend' }}
            </button>
            <button class="btn btn-info" (click)="viewLoanHistory(user.user_id)">View Loan History</button>
        </div>
    </div>

    <!-- Después de tu lista de usuarios -->
    <div class="d-flex justify-content-center">
        <ngb-pagination
            [collectionSize]="totalItems"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
            [maxSize]="5"
            [boundaryLinks]="true"
            aria-label="Default pagination">
        </ngb-pagination>
    </div>

    <!-- Edit/Add User Modal -->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ isEditing ? 'Edit User' : 'Add User' }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body" *ngIf="selectedUser">
            <form (ngSubmit)="saveUser(modal); modal.close()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" [(ngModel)]="selectedUser.name" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="text" id="last_name" [(ngModel)]="selectedUser.last_name" name="last_name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" [(ngModel)]="selectedUser.email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="role" class="form-label">Role</label>
                    <select id="role" [(ngModel)]="selectedUser.role" name="role" class="form-select" required>
                        <option value="">Select a role</option>
                        <option *ngFor="let role of roles" [value]="role">
                            {{role}}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancel</button>
            </form>
        </div>
    </ng-template>
</div>