<div class="card book-card" [class.flipped]="isFlipped" (click)="onBookClick()">
  <div class="card-front">
    <img [src]="book.image" class="card-img-top img-fluid" [alt]="book.title">
    <div class="card-body text-center">
      <h6 class="card-title">{{ book.title }}</h6>
      <p class="card-text">Author: {{ book.author }}</p>
    </div>
  </div>
  <div class="card-back">
    <div class="card-body text-center">
      <img [src]="book.image" class="card-img-top img-fluid" [alt]="book.title">
      <p class="card-text">
        {{ showFullDescription ? book.description : getShortDescription(book.description) }}
        <a href="#" (click)="toggleDescription($event)">
          {{ showFullDescription ? 'Read less' : 'Read more' }}
        </a>
      </p>
      <button class="btn btn-primary" (click)="onBorrowClick($event)">Borrow</button>
    </div>
  </div>
</div>
